@charset "utf-8";
@font-face {
    font-family: "Fertigo Pro";
    scr: local('Fertigo Pro'), url(../fonts/fertigo.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Fertigo Pro", sans-serif;
    font-size: 16px;
    height: 100%;
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}
img {
    max-width: 100%;
}
label {
    font-weight: normal;
}
.header {
    position: relative;
}
.wrapper-content {
    height: calc(100vh - 45px);
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}
.wrapper-content::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-left-width: 100vw;
    border-left-color: #03A656;
    border-left-style: solid;
}

.wrapper-section {
    background-color: #03A656;
/*    padding: 2em .9375em;*/
    padding: 0 .9375em;
    position: relative;
    margin-top: .625em;
}
.wrapper-section::before {
    content: " ";
    position: absolute;
    top: -30px;
    left: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right-width: 100vw;
    border-right-color: #03A656;
    border-right-style: solid;
}
.wrapper-section::after {
    content: " ";
    position: absolute;
    bottom: -30px;
    left: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-left-width: 100vw;
    border-left-color: #03A656;
    border-left-style: solid;
}
.screen {
    background-color: #A0C1AD;
    width: 100%;
    height: 100vh;

}
.alert {
    z-index: 1;
    position: relative;
    margin: .625em 0;
    font-size: .625em; /* 10px/16px */
}

/*-------Tela Inicial-------*/
.screen-initial {
    width: 100%;
    height: 100vh;
    background-color: #A0C1AD;
    display: table;
    opacity: 1;
    visibility: visible;
}
.screen-initial figure {
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/*------Tela Orçamento------*/
header {
    width: 100%;
    height: 45px;
    background-color: #04C165;
    border-bottom: 1px solid #006837;
    padding: .4375em .625em;
}
.title-section {
    background-color: #008941;
    height: 30px;
    line-height: 30px;
}
.voltar{
    background-color: #008941;
    border: medium none;
    font-size: .75em;
    padding-left: 0;
}
.content-header h4 {
    font-size: 1,125em; /* 18px / 16px */
    color: #fff;
    font-family: "Fertigo Pro", sans-serif;
    border-radius: 5px;
    margin: 0;
    padding-left: 10px;
    display: inline-block;
}
.dropdown {
    display: inline-block;
    float: right
}
.options {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.options:visited,
.options:hover,
.options:active {
    color: #fff;
    text-decoration: none;
}
.container-acessaLista {
    margin-bottom: .625em;
    line-height: 40px;
    margin-bottom: 10px;
}
.nomelistacriada {
    display: block;
}
.title-orcamento {
    font-size: 1.5em; /* 24px / 16px */
    color: #fff;
    background-color: #04C165;
    text-align: center;
    border-radius: 5px;
}
.title-orcamento p {
    padding: 0.2em;
}
.body-orcamento {
    background-color: #04C165;
    text-align: center;
    margin-top: .625em; /* 10px / 16px */
    padding: .9375em; /* 15px / 16px */
    border-radius: 5px;
}
.body-orcamento p {
    font-size: 1,125em; /* 18px / 16px */
    line-height: 1.2;
    color: #fff;
    padding: .5555em 0;  /* 10px / 18px */
}
.body-orcamento input {
    background-color: #03A656;
    width: 85%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    color: #fff;
    font-size: .875em;
    padding-left: 20px;
}
.triangle-bottom {
    line-height: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-left-width: 100vw;
    border-left-color: #03A656;
    border-left-style: solid;
}
.button-centro {
    text-align: center;
}
.footer {
    position: absolute;
    width: 100%;
    background-color: #008941;
    border-top: 1px solid #006837;
    bottom: 0px;
    height: 60px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
   -ms-align-items: center;
   -webkit-align-items: center;
   align-items: center;
}

.buttom-save,
.button-open {
    background-color: #04C165;
    color: #fff;
    border: none;
    margin: 0 auto;
    padding: .5em .8333em; /* 8px / 16px - 15px / 16px */
    border-radius: 5px;
}
.button-open {
    margin-top: 1.875em; /* 30px / 16px */
}

.button-open {
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

/*Tela Lista de Compra*/

.wrapper-lista {
    background-color: #03A656;
    padding: 2em .8333em; /* 32px / 16px - 15px / 16px */
}
.body-top {
    font-size: 1.2857em;
    width: 100%;
    /*text-align: center;*/
}
.body-top figure,
.body-top p {
    vertical-align: middle;
    display: inline-block;
    height: 40px;
}
.body-top p {
    line-height: 50px;
}
.body-top,
.valor-lista,
.body-bottom,
.dados-lista,
.container-acessaLista {
    color: #fff;
    background-color: #04C165;
    border-radius: 5px;
    padding: 0 15px;
}
.body-bottom {
    width: 100%;
}
.valor-lista {
    font-size: 1.1428em;
    margin-top: 2px;
    height: 40px;
    line-height: 40px;
    /*text-align: center;*/
    position: relative;
}
.valor-lista span,
.valor-total {
    display: inline-block;
}
.editar-valor,
.button-acessaLista {
    background-color: transparent;
    border: none;
    float: right;
    line-height: 40px;
}
.body-bottom {
    margin-bottom: 30px;
    margin-top: .625em;
    padding: 1em 15px;
    font-size: 1.1428em;
    display: inline-block;
}
.body-bottom ul {
    padding-left: 0;
}
.body-bottom li {
    list-style-type: none;
    height: 73px;
}
.input-lista {
    float: left;
    background-color: #03A656;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    color: #fff;
    line-height: 40px;
    margin: 0;
}
.wrapper-accordion {
    float: left;
    width: 100%;
    height: 20px;
    margin-top: 3px;
}
.input-qtd,
.input-item {
    background-color: #03A656;
    width: 50%;
    height: 25px;
    box-sizing: border-box;
    border: none;
    border-right: 2px solid #04C165;
    color: #fff;
    line-height: 20px;
    font-size: .75em;
    margin: 0 !important;
}
.body-bottom .button-remove,
.accordion-toggle {
    float: left;
    border: none;
    border-left: 2px solid #04C165;
    width: 10%;
    height: 40px;
    background-color: #03A656;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: .75em;
}
a.accordion-toggle {
    text-decoration: none;
    color: #fff;
}
.modal h4{
    display: inline-block;
}
.input-group, input{
    width: 100%;
    margin: 10px 0;
    height: 2.5em;
    font-size: .75em;
    padding-left: 5px;
}
.modal button{
    background-color: #fff;
    border: medium none;
    color: #333;
}
.modal button:hover, .modal button:active, .modal button:visited{
    background-color: #fff;
    border: medium none;
    color: #333;
}
/*Lista salva*/
.dados-lista{
    font-size: 1em;
    line-height: 40px;
    margin-top: 2px;
}
.nome-lista{
    display: block;
}
.localizar{
    background-color: transparent;
    border: medium none;
    float: right;
    line-height: 40px;
}
.body-lista .button-gabriel { /*adiciona z-index e float left apenas no botão da página da lista salva + aciona transição*/
    z-index: 10;
    float: left;
}
.body-lista .button-add {
    background-color: #04c165;
    border: medium none;
    border-radius: 100%;
    color: #03a656;
    font-size: 1.4em;
    padding: 5px;
    margin-top: .3125em;
}
/*Transições*/
.screen-initial,
.screen {
    position: absolute;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.orcamento-invisivel,
.lista-invisivel,
.salva-invisivel,
.invisivel {
    visibility: hidden;
    opacity: 0;
}
.transparent-in {
    opacity: 1;
}
.transparent-out {
    opacity: 0;
}
/*Interações*/
.dinheiro-real span {
    padding-left: 5px;
}
/*Google Maps - Geolocation*/
#mapa {
    width: 100%;
    height: 300px;
    overflow:visible;
}
/*Section Lista */
#telaLista .wrapper-content {
    height: calc(100vh - 105px);
}
/*Medias*/
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 1024px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}
