/*--------------------------
 Variaveis
--------------------------*/

$white                                              : #fff;
$black                                              : #333;

$color-primary                                      : #03A656;
$color-primary-two                                  : #04C165;
$color-primary-tree                                 : #008941;
$color-second                                       : #A0C1AD;
$color-border-primary                               : #006837;

$font-family                                        : "Fertigo Pro";
$browser-context                                    : 16;
